<div class="container">
    @if (hasBeenDeleted) {
    <div class="d-flex justify-content-center align-items-center" height="100">
        <div class="alert alert-success fs-6" role="alert" style="max-width: 200px; height: 70px;">
            Carte supprimée avec succés.
        </div>
    </div>
    }@else{
    <div class="d-flex justify-content-center align-items-center" height="100" style="height: 100px;">
        <h1> Voici nos voitures !</h1>
    </div>
    }
    <div class="card-group d-flex justify-content-around align-items-center">
        @for (voiture of voitures; track voiture.marque) {

        <div class="card m-1 border rounded" [ngClass]="voiture.disponibility ? 'border-success' : 'border-danger'"
            style="max-width: 300px; max-height: 400px;">
            <img [src]="voiture.img" class="card-img-top rounded object-fit-cover " alt="..."
                style="max-height: 150px;">
            <div class="card-body d-flex my-2 justify-content-center align-items-center flex-column">
                <h5 class="card-title" [ngClass]="voiture.disponibility && 'text-primary'">{{voiture.disponibility ?
                    "Disponible" : "Indisponible"}}</h5>
                <h5 class="card-title">{{voiture.marque}}</h5>
                <p class="card-text"><small class="text-body-secondary">Quantité : {{voiture.quantity}}</small></p>
                <p class="card-text"><small class="text-body-secondary">{{voiture.marque}}</small></p>
                <p class="card-text"><small class="text-body-secondary">{{voiture.modele}}</small></p>
                <div class="d-flex my-2 justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary btn-sm" (click)="deleteVoiture(voiture.id)">
                        delete
                    </button>
                    <button type="button" class="btn btn-dark btn-sm mx-2" (click)="toggleDisponibility(
                        voiture.id,
                        voiture.disponibility
                    )">
                        Switch
                    </button>
                    <div class="card-body d-flex flex-column justify-content-around align-items-center"
                        style="max-width: 400px">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal' + voiture.id">
                            Détails
                        </button>
                        <!-- Modal -->
                        <div class="modal fade custom-blur-modal" [attr.id]="'Modal' + voiture.id" tabindex="-1"
                        [attr.aria-labelledby]="'ModalLabel' + voiture.id" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
    
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title">{{voiture.marque}}</h5>
                                        <button type="button" class="btn btn-dark"  [routerLink]="['/voiture/' + voiture.id]" data-bs-dismiss="modal"
                                        aria-label="Close">
                                            Détails
                                        </button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }@empty {
        <li>There are no items.</li>
        }

    </div>


</div>